snippet met "public method"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet pmet "protected method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet pimet "private method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet th "insert $this->"
	\$this->${0}

snippet match "match statement"
    match(${1}) {
        ${0}
    };


